<ion-view view-title="{{edit.name}}" class="header-title">
    <ion-content>
        <form ng-submit="editApartmentSubmit(edit.id)" class="edit-apartment-form">
            <div class="list">
                <label class="item item-input">
                    <input type="text" placeholder="Name" ng-model="edit.name" value="{{edit.name}}" required>
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Phone #" ng-model="edit.phone" value="{{edit.phone}}">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Address" ng-model="edit.address" value="{{edit.address}}">
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="City" ng-model="edit.city" value="{{edit.city}}">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Bedrooms</span>
                    <div class="range">
                        0
                        <input type="range" name="bedroom" min="0" max="5" value="{{edit.bedroom}}" ng-model="edit.bedroom">
                        5
                    </div>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Bathrooms</span>
                    <div class="range">
                        0
                        <input type="range" name="bathroom" min="0" max="5" value="{{edit.bathroom}}" ng-model="edit.bathroom">
                        5
                    </div>
                </label>
                <label class="item item-input">
                    <input type="number" placeholder="Sq. Ft." ng-model="edit.sqft" value="{{edit.sqft}}">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Lease Length (Months)</span>
                    <div class="range">
                        0
                        <input type="range" name="lease" min="0" max="24" value="{{edit.lease}}" ng-model="edit.lease">
                        24
                    </div>
                </label>
                <label class="item item-input">
                    <input type="number" placeholder="Application Fee" ng-model="edit.applicationFee" value="{{edit.applicationFee}}">
                </label>
                <label class="item item-input">
                    <input type="number" placeholder="Security Deposit" ng-model="edit.securityDeposit" value="{{edit.securityDeposit}}">
                </label>
                <label class="item item-input">
                    <input type="number" placeholder="Monthly Rent" ng-model="edit.rent" value="{{edit.rent}}">
                </label>
                <ul class="item">
                    <span class="input-label">Utilities</span>
                    <li class="item item-checkbox">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="edit.utilities.gas" value="{{edit.utilities.gas}}">
                        </label>
                        Gas
                    </li>
                    <li class="item item-checkbox">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="edit.utilities.water" value="{{edit.utilities.water}}">
                        </label>
                        Water
                    </li>
                    <li class="item item-checkbox">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="edit.utilities.sewage" value="{{edit.utilities.sewage}}">
                        </label>
                        Sewage
                    </li>
                    <li class="item item-checkbox">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="edit.utilities.electric" value="{{edit.utilities.electric}}">
                        </label>
                        Electric
                    </li>
                    <li class="item item-checkbox">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="edit.utilities.trash" value="{{edit.utilities.trash}}">
                        </label>
                        Trash Pickup
                    </li>
                    <li class="item item-checkbox">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="edit.utilities.cable" value="{{edit.utilities.cable}}">
                        </label>
                        Cable
                    </li>
                    <li class="item item-checkbox">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="edit.utilities.internet" value="{{edit.utilities.internet}}">
                        </label>
                        Internet
                    </li>
                </ul>
                <ul class="item">
                    <span class="input-label">Apartment Features</span>
                    <li class="item item-checkbox">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="edit.apartmentFeatures.alarm" value="{{edit.apartmentFeatures.alarm}}">
                        </label>
                        Alarm
                    </li>
                    <li class="item item-checkbox">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="edit.apartmentFeatures.entry" value="{{edit.apartmentFeatures.entry}}">
                        </label>
                        Private Entry
                    </li>
                    <li class="item item-checkbox">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="edit.apartmentFeatures.patioBalcony" value="{{edit.apartmentFeatures.patioBalcony}}">
                        </label>
                        Patio / Balcony
                    </li>
                    <li class="item item-checkbox">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="edit.apartmentFeatures.storage" value="{{edit.apartmentFeatures.storage}}">
                        </label>
                        Extra Storage
                    </li>
                    <li class="item item-checkbox">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="edit.apartmentFeatures.smoke" value="{{edit.apartmentFeatures.smoke}}">
                        </label>
                        Smoke Detectors
                    </li>
                    <li class="item item-checkbox">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="edit.apartmentFeatures.monoxide" value="{{edit.apartmentFeatures.monoxide}}">
                        </label>
                        Carbon Monoxide Detectors
                    </li>
                    <li class="item item-checkbox">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="edit.apartmentFeatures.window" value="{{edit.apartmentFeatures.window}}">
                        </label>
                        Functioning Windows
                    </li>
                </ul>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Flooring
                    </div>
                    <select ng-model="edit.apartmentFeatures.floor">
                        <option></option>
                        <option>Carpet</option>
                        <option>Laminate</option>
                        <option>Linoleum</option>
                        <option>Stone</option>
                        <option>Tile</option>
                        <option>Vinyl</option>
                        <option>Wood</option>
                    </select>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Wall Conditions</span>
                    <div class="range">
                        0
                        <input type="range" name="wall" min="0" max="20" value="{{edit.apartmentFeatures.wall}}" ng-model="edit.apartmentFeatures.wall">
                        20
                    </div>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Closet Space</span>
                    <div class="range">
                        0
                        <input type="range" name="closet" min="0" max="20" value="{{edit.apartmentFeatures.closet}}" ng-model="edit.apartmentFeatures.closet">
                        20
                    </div>
                </label>
                <ul class="item">
                    <span class="input-label">Appliances Included</span>
                    <li class="item item-checkbox">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="edit.appliances.washer" value="{{edit.appliances.washer}}">
                        </label>
                        Washer
                    </li>
                    <li class="item item-checkbox">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="edit.appliances.dryer" value="{{edit.appliances.dryer}}">
                        </label>
                        Dryer
                    </li>
                    <li class="item item-checkbox">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="edit.appliances.refrigerator" value="{{edit.appliances.refrigerator}}">
                        </label>
                        Refrigerator
                    </li>
                    <li class="item item-checkbox">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="edit.appliances.stove" value="{{edit.appliances.stove}}">
                        </label>
                        Stove
                    </li>
                    <li class="item item-checkbox">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="edit.appliances.dishwasher" value="{{edit.appliances.dishwasher}}">
                        </label>
                        Dishwasher
                    </li>
                    <li class="item item-checkbox">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="edit.appliances.microwave" value="{{edit.appliances.microwave}}">
                        </label>
                        Microwave
                    </li>
                    <li class="item item-checkbox">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="edit.appliances.sinkGarbage" value="{{edit.appliances.sinkGarbage}}">
                        </label>
                        Sink Garbage Disposal
                    </li>
                </ul>
                <ul class="item">
                    <span class="input-label">Community Features</span>
                    <li class="item item-checkbox">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="edit.community.emergencyExit" value="{{edit.community.emergencyExit}}">
                        </label>
                        Reachable Emergency Exits
                    </li>
                    <li class="item item-checkbox">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="edit.community.pet" value="{{edit.community.pet}}">
                        </label>
                        Pet-Friendly
                    </li>
                    <li class="item item-checkbox">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="edit.community.package" value="{{edit.community.package}}">
                        </label>
                        Package Service
                    </li>
                    <li class="item item-checkbox">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="edit.community.emergencyMaintenance" value="{{edit.community.emergencyMaintenance}}">
                        </label>
                        Emergency Maintenance
                    </li>
                    <li class="item item-checkbox">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="edit.community.laundry" value="{{edit.community.laundry}}">
                        </label>
                        Laundry Facilities
                    </li>
                </ul>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Noise Level</span>
                    <div class="range">
                        0
                        <input type="range" name="wall" min="0" max="20" value="{{edit.community.noise}}" ng-model="edit.community.noise">
                        20
                    </div>
                </label>
                <label class="item item-input">
                    <input type="number" placeholder="Distance to Work (min.)" ng-model="edit.work" value="{{edit.work}}">
                </label>
                <label class="item item-input">
                    <textarea placeholder="Comments" ng-model="edit.comment"></textarea>
                </label>
            </div>
            <input class="button button-block button-balanced" type="submit" value="Submit">
        </form>
    </ion-content>
</ion-view>